<form action="" method="POST">
    {% csrf_token %} 
    <i class="uil uil-notesuw note-icon"></i>
</form>

<div class="input-field">
    <form action="" method="POST">
        {% csrf_token %} 
    <textarea placeholder="Enter your new todo"></textarea>

      <i class="uil uil-notesuw note-icon"></i>
  </form>
  </div>


  <form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="title" id="myInput" placeholder="Title...">
    <button type="submit" class="addBtn">Add</button>
  </form>

  compare and see and find out answer