<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Todo List Application</title>

  <!-- CSS -->
  <link rel="stylesheet" href="static/style.css">

  <!-- Unicons CSS -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <div class="container">
    <div class="input-field">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="title" id="myInput" placeholder="Enter your new todo" required>
        <button type="submit" class="addBtn">Add</button>
      </form>
    </div>
    <ul id="todoLists">
      {% for todo in todos reversed %}
      <div class="pending-tasks">
      <li>{{todo.title | title}}</li> 
            <a href="{% url 'delete' todo.id %}" class="addBtn">Delete</a>
      </div>
      {% endfor %}
    </ul>
  </div>


  <!-- JavaScript -->
  <script src="static/script.js"></script>

</body>

</html>